
/* Importando otra fuente desde google apis*/
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Usando la fuente en todo el documento*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 10;
    }
/* definiendo el body*/
body {
   color:rgb(157, 202, 157);
   background-color: rgb(44, 47, 50); 
   position: relative;
   min-height: 100vh;
   padding-bottom: 4.5rem;
/* definiendo el estilos de los parrafos*/
}
P {color:rgb(74, 11, 11); 
   font-size:20px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
   border-width:2px;
   border-color:blue;
   border-style:solid;
   border-radius:5px;
   background-color: rgb(121, 129, 137);
  }
/* definiendo el estilos de los h1*/  
h1{
   color:rgb(91, 50, 165);
   background-color: rgb(148, 153, 179);
   border-style:solid;
   border-radius:5px;
   width: 100%;
   text-decoration:underline;
   text-align:center;
}
/* definiendo el estilos de los h2*/  
h2
   {
   width: 100%;
   border-style:solid;
   border-radius:5px;
   background-color: rgb(121, 129, 137);
   text-decoration:underline;
   text-align:center;
}
/* definiendo el estilos de las listas desordenadas*/  
ul
{
   color:rgb(198, 193, 193);
   border-width:2px;
   border-color:rgb(3, 3, 36);
   border-style:solid;
   border-radius:5px;
   background-color: rgb(121, 129, 137);
   background-image: url(../Media/praksh.jpg);  
   background-attachment: fixed;
   background-repeat: repeat;
/* definiendo el estilos de las tablas*/      
}
  table {
  width: 15%;

}

th, td {
  border: 3px solid #270404;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #101547;
}
/* definiendo el estilos del pie de pagina*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
}
/* definiendo la posicion del icono incorporado para dar el enlace a la guia*/
.fa-brands {
    margin: 1%;
    font-size: 4rem;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 20;
}